html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: 700;
    color: #2c2c2c;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 5px #2E3E40;
}
h2 a {
    color: #2E3E40; 
}
p {
    font-family: 'Raleway' serif;
    color: #2E3E40;
    font-size: 140%;
    line-height: 180%;
    text-align: justify;
    font-weight: 300; 
    text-shadow: 2px 2px 5px #2c2c2c41; 
}
img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.description{
    margin-left: 2%;
    text-align: center;
    opacity: .8;
    letter-spacing: 5px;
    text-decoration: none;
    text-shadow: 2px 2px 5px #2E3E40;

}
.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(../image/pexels-aleksandar-pasaric-670269.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    top: 0;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 700px;
    margin: auto;
    
}

h1 {
    font-size: 300%;
    font-weight: 700;
    text-align: center;
    padding: 2%;
    
    text-shadow: 10px 10px 50px #000;
}
h1 a {
    font-family:Arial, Helvetica, sans-serif;
    color: #F2F2F2;
    text-decoration: none;
}
.content p {
    color: #F2F2F2;
}
.inner {
    max-width: 600px;
    margin: auto;
    font-size: 170%;
    line-height: 1.6;
    padding: 10px;
}
.inner p {
    text-shadow: 5px 5px 10px #000;
}
/*NAV*/
nav {
    float: left;
    padding: 5% 5% 0 0;
    height: 50px;
}
nav ul {
    list-style: none;
    float: left;
}
nav ul li {
    font-family: 'Raleway', serif;
    font-size: 120%;
}
nav ul li a {
    color:#F2F2F2;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
nav ul, nav:active ul {
    display: none;
    padding: 8px 0;
    left: 45px;
    top: 60px;
    width: 20%;
    z-index: 1000;
}
nav li {
    width: 100%;
    padding: 8px 0 10px 7px;
    margin: 0;
}
nav:hover ul {
    display: block;
    position: absolute;
}
#menu-icon {
    width: 30px;
    height: 26px;
    background: url(../image/nav-icon.png) center;
    display: inline-block;
    margin: 50px 0 0 50px;
}
/*end nav */

.left-col {
    width: 60%;
    float: left;
    margin: 3% 0 3% 3%;
}
.sidebar {
    width: 26%;
    float:left;
    margin: 4%;   
}
.one-third-port {
    width: 29.3333%;
    padding: 2%;
    float: right;
}
.one-third-port img:hover {
    opacity: .6;
}
.one-third-port-page1 {
    width: 20%;
    padding: 2%;
    float: left;
}
.one-third-port-page2 {
    width: 20%;
    padding: 2%;
    float:left;
}
.one-third-port-page3 {
    width: 29.3333%;
    padding: 2%;
    float:left;
}
.one-third-port-page1:hover{
    scale: 1.2;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;  
}
.one-third-port-page2:hover{
    scale: 1.2;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;  
}
.one-third-port-page3:hover{
    scale: 1.2;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;  
}
.contact p {
    text-align: center;
    letter-spacing: 5px;
}
.contact a {
    color: #2c2c2c;
    text-decoration: none;
}
.clearfix {
    clear: both;
    height: 10%;
}
.parallax {
    background-image: url(../image/pexels-pixabay-290595.jpg);
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: .5;
}
.parallax-inner {
    margin: 10%;
    padding-top: 20%;
}
.social {
    list-style-type: none;
    text-align: center;
}
.social li {
    display: inline;
}
.social i {
    font-size: 300%;
    margin: 2% 3% 5% 3%;
    color: #2E3E40;
}
.social i:hover {
    color: #736F5A;
}
footer.second {
    background-color: #2E3E40;
}
footer.second p {
    color: #F2F2F2;
    text-align: center;
    padding: 3%;
}
footer a{
    color: #736F5A;
    text-decoration: none;  
}
input, select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #736F5A; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
  }
  input {
    background-color: #F2F2F2;
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input:hover {
    background-color: #2c2c2c9e;
    color: #F2F2F2;
  }
  .contactme {
    border-radius: 5px;
    background-color: #918f8f;
    padding: 20px;
    text-shadow: 2px 2px 5px #5656562e;
  }
@media screen and (max-width: 768px){
    #menu-icon {
        margin:  26px 0px 10px 26px;
    }
    nav ul, nav:active ul{
        padding: 8px 0;
        left: 23px;
        top: 34px;
        width: 50%;
    }
    .inner {
        font-size: 120%;
    }
    .content h1 {
        font-size: 180%;
    }
    p {
        font-size: 120%;
    }
    h2 {
        font-size: 160%;
    }
    .left-col {
        width: 96%;
        margin: 0 0 3% 0;
        padding: 0 2% ;
    }
    .sidebar {
        width: 96%;
        margin: 0 auto;
    }
    img {
        padding: 2%;
    }
    .one-third-port {
        width: 96%;
        margin: 0 auto;
        padding: 0;
    }
    .break {
        display: block;
    }
    .parallax {
        display: none;
    }
    .social i {
        font-size: 170%;
    }
}
@media screen and (max-width: 968px) {
    .parallax-inner {
        display: none;
    }
    
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    hsl(250, 98%, 50%) 0%,
    hsl(53, 100%, 50%) 29%,
    hsl(0, 100%, 49%) 67%,
    #ffffff 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}